.components__createBookingBtn {

    .popupForm{
        display:flex;
        flex-direction: column;
        gap:15px;

        .formItem {
            display:flex;
            align-items:flex-end;
            gap: 30px;


            label{
                width:70%;
            }

            svg {
                margin-bottom: 10px;
            }

            input {
                text-align: left;
                background: none;
                border: 1px solid white;
                padding:10px;
                border-radius: 15px;
                margin-top: 5px;
                width: 100%;
            }
            input[type="time"]::-webkit-calendar-picker-indicator,
            input[type="date"]::-webkit-calendar-picker-indicator {
                display: none;
                appearance: none;
            }
        }
    }
}