.pages__login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:100%;

  h2 {
    margin-bottom: 15px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;

    > label {
      display: flex;
      flex-direction: column;
      gap: 7px;
  }

    .btnContainer {
      margin-top: 25px;
      max-width: 225px;
      width: 100%;
      align-self: center;
    }
  }
  .registerText {
    display: flex;
    justify-content: center;
  }
}
