.pages__login {
  input {
    all: unset;
    width: 100%;
    padding: 9px;
    border-radius: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  .registerText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    p {
      font-weight: 400;
      margin-right: 4px;
    }
    a {
      all: unset;
      font-weight: 600;
    }
  }
}
