.components__Filter {
    button {
        margin: 16px 20px 16px 0px;
        background: #051334;
        border: none;
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.25);
        border-radius: 15px;
        padding: 14px 16px;
        border: 2px solid transparent;
        transition: 250ms;
    }
    .active {
        border: 2px solid white;
    }

    input::-ms-fill-lower {
        background: white;
    }
    
    input[type="range"] {
        cursor: pointer;
        width: 100%;
        appearance: none;
        height: 12px;
        background: rgb(110, 110, 110);
        border-radius: 6px;
        overflow: hidden;

        &::-webkit-slider-thumb {
            border-radius: 50%;
            appearance: none;
            height: 12px;
            width: 12px;
            background: #ffffff;
            box-shadow: -100vw 0 0 100vw #ffffff;
        }

        &::-webkit-slider-runnable-track {
            height: 10px;
            appearance: none;
            color: #13bba4;
            margin-top: -1px;
          }
    }
}