.components__nav {
    nav {
        position: fixed;
        align-items: center;
        bottom: 15px;
        left: 15px;
        right: 15px;
        display: flex;
        justify-content: space-between;
        border-radius: 15px;
        padding: 0 20px;
        height: 76px;
        background-color: white;
        color: black;

        .underline{
            border-bottom: 1px solid #07163F;
            border-width: 3px;
          }
    }

    .spaceReserve {
        height: 111px;
    }
}

