.pages__explore {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .line {
        border-top: 1px solid #C8C8C8;
    }

    .restaurantContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .no-results {
        svg{width: 50px;}
        text-align: center;
    }

    @media (min-width: 375px) {
        .restaurantContainer {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

