.pages__explore {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .line {
        border-top: 1px solid #C8C8C8;
    }

    .resturantContainer {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        flex-wrap: wrap;
    }
}